* {
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}

.prizes_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prizes {
  flex: 3;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  height: 100vh;
}
.prizes__left {
}

.prizes__right {
}
.prize_container {
  height: 45%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prize_container img {
  height: 90%;
  border: 5px solid purple;
  border-radius: calc(2vh + 2vw);
  width: 90%;
  padding: calc(1vh + 1vw);
  object-fit: contain;
}

.prize_container h1 {
  width: 100%;
  text-align: center;
}
.showcase {
  flex: 4;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 40%;
  padding: 0.75rem;
}
